/*----------------------------------------------------------------
STATUS BAR MENU
----------------------------------------------------------------*/

.MySnippets-statusbar-menu {
  width: 276px;
}

.MySnippets-statusbar-menu .menu-item-icon {
  display: none;
}

.MySnippets-statusbar-menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.MySnippets-statusbar-menu .menu-item.settings-item {
  font-size: 12px;
  text-align: center;
  line-height: 1;
  border-radius: 5px;
  height: auto;
  padding: 8px 5px 0px 5px;
  margin: 0 auto;
  width: fit-content;
  color: var(--text-faint);
}

.MySnippets-statusbar-menu.menu-item:hover,
.MySnippets-statusbar-menu.menu-item .selected:hover,
.MySnippets-statusbar-menu
  .menu-item.selected:not(.is-disabled):not(.is-label) {
  background-color: transparent;
}

.MySnippets-statusbar-menu .menu-item-title {
  margin-right: 10px;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.MySnippetsReloadButton {
  width: 100%;
  margin: 0 auto;
  padding: 3px 14px;
  border-radius: 6px;
  background-color: var(--text-accent);
}

.MySnippetsReloadButton:hover {
  background-color: var(--text-accent);
}

.MySnippetsReloadButton svg {
  width: 1.6em;
  height: 1.6em;
  display: flex;
  margin: 0 auto;
}

.MySnippets-statusbar-menu .menu-item.buttonitem button.cMenuSettingsButton {
  margin: 0;
}

/*----------------------------------------------------------------
MYSNIPPETS SUPPORT
----------------------------------------------------------------*/

.msDonationSection {
  width: 60%;
  height: 50vh;
  margin: 0 auto;
  text-align: center;
  color: var(--text-normal);
}
